#map {
    width: 100%;
    height: 100%;
    min-height: 500px; /* importante */
}

/* Asegura que Leaflet haga su render correctamente */
.leaflet-container {
    height: 100% !important;
    width: 100% !important;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}
